name: Pull Requests

on:
  pull_request:
    branches: [ "main" ]

jobs:

  test:
    name: Test
    runs-on: ubuntu-latest

    permissions:
      actions: read
      contents: read
      packages: read
      security-events: read
      pull-requests: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v6
      
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - uses: docker/build-push-action@v6
        with:
          platforms: linux/amd64,linux/arm64
          context: .

  auto-approve:
    name: Auto Approve
    runs-on: ubuntu-latest

    if: ${{ github.actor == 'dependabot[bot]' }}

    permissions:
      actions: read
      contents: read
      packages: read
      security-events: read
      pull-requests: write

    steps:
      - uses: "fastify/github-action-merge-dependabot@v3"
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          approve-only: true
          use-github-auto-merge: false
